.button{
  width: 100px;
  height: 100px;
  border: none;
  margin: 10px;
}

.actionButtons{
  width: 100px;
  height: 50px;
  margin: 10px;
}

#container{
  left: 50%;
  top: 50%;
  align-items: center;
  position: relative;
  display: block;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}